<header>
  <div class="container">
    <span class="title">Cookie Shop</span>
    <ul>
      <li><a mat-button routerLink="/">Home</a></li>
      <li><a mat-button routerLink="/about">About</a></li>
      <li>
        @if (me.status() !== 'error') {
          @let user = me.value();
          <a
            mat-flat-button
            [routerLink]="user?.role?.toLowerCase() === 'admin' ? ['/', 'panel'] : ['/', 'account']"
          >
            {{ user?.fullName || 'Profile' }}
          </a>
        } @else {
          <button mat-flat-button (click)="openLogin()">Login</button>
        }
      </li>
      <li>
        <button mat-icon-button (click)="openCart()">
          <mat-icon fontIcon="shopping_cart"  />
        </button>
      </li>
    </ul>
  </div>
</header>

<main class="container">
  <router-outlet />
</main>

<footer>
  <div class="container">
    <span>Footer</span>
  </div>
</footer>
