@let isHandset = this.isHandset();

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    disableClose
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="isHandset === false"
  >
    <mat-toolbar>
      <div class="sidenav-header">
        <span>Menu</span>
        @if (isHandset) {
          <button matIconButton aria-label="Close menu" (click)="drawer.close()">
            <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
          </button>
        }
      </div>
    </mat-toolbar>
    <mat-divider/>
    <mat-nav-list>
      <a mat-list-item routerLink="/panel">Dashboard</a>
      <a mat-list-item routerLink="/panel/orders">Orders</a>
      <a mat-list-item routerLink="/panel/products">Products</a>
      <a mat-list-item routerLink="/panel/setting">Setting</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div>
        @if (isHandset) {
          <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
            <mat-icon fontSet="material-symbols-outlined">menu</mat-icon>
          </button>
        }
        <span>CookieShopClient</span>
      </div>
      <a mat-flat-button routerLink="/">Portal</a>
    </mat-toolbar>
    <main>
      <router-outlet/>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
