@let isHandset = this.isHandset();

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="isHandset === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/panel">Dashboard</a>
      <a mat-list-item routerLink="/panel/products">Products</a>
      <a mat-list-item routerLink="/panel/setting">Setting</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      @if (isHandset) {
        <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>CookieShopClient</span>
    </mat-toolbar>
    <main>
      <router-outlet/>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
