.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 240px;
  margin-block: 1rem;
  background-color: var(--mat-sys-tertiary-container);
}

.sidenav .mat-toolbar {
  background: inherit;
}

mat-nav-list {
  padding: 0.25rem;
}

.sidenav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--mat-sys-tertiary-container);
  border-end-end-radius: 1rem;
  border-end-start-radius: 1rem;
}

mat-sidenav-content {
  padding: 0 1rem;
  mat-toolbar {
    background-color: var(--mat-sys-tertiary-container);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
